RESEND_API_KEY=""
RESEND_WEBHOOK_SECRET=""
WEBHOOK_EMAIL_TO=""
WEBHOOK_EMAIL_FROM=""
VITE_BASE_URL=""
DATABASE_URL=""
DATABASE_AUTH_TOKEN=""
PAY_ID=""
BETTER_AUTH_SECRET=""
GOOGLE_GENERATIVE_AI_API_KEY=""
GOOGLE_CLOUD_REGION=""
GOOGLE_VERTEX_PROJECT=""
GOOGLE_CLIENT_EMAIL=""
GOOGLE_PRIVATE_KEY=""
UP_BANK_API_TOKEN=""
UP_BANK_WEBHOOK_SECRET=""
BLOB_READ_WRITE_TOKEN=""
WAHA_BASE_URL=""
WAHA_API_KEY=""
WAHA_SESSION_NAME="default"
WAHA_WEBHOOK_SECRET=""
WHATSAPP_GROUP_CHAT_ID=""
WHATSAPP_ADMIN=""
